.container
{
     
      background-color: #f8f7e9;
      
}


html body
{
    background-color: #ffffff;
}
#bodyelectronica
{
    background-color: #d4f0f0;
}
#bodyflamenco
{
    background-color: rgb(209, 79, 79)
}